@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.app-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallpaper-container {
  background-size: cover;
  opacity: 0.7;
}
